<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">


<div class="pageContainer">

        <div class="header">
          <header  id="title">Products List</header>
        </div>

        <div class="searchbar">
          <input type="text" id="searchInput" (keyup)="searchEngine()" placeholder="Search for products..">
        </div>


        <ul id="products">
          <li *ngFor="let product of products"
            [class.selected]="product === selectedProduct"
            (click)="onSelect(product)">
            <a> <span class="badge">{{product.id}}</span> {{product.name}}</a>
          </li>
        </ul>


        <div id='ScrollingTarget' class="formDetails" >
            <div *ngIf="selectedProduct">
              <form  name="purchaseForm" (ngSubmit)="submitClick()">
                <h3 style="margin-top: 0; display: flex; justify-content: center;">{{selectedProduct.name | uppercase}} selected</h3>
                <h4 style="display: flex; justify-content: center">Please enter your details</h4>
                <div style="margin-bottom: 1em"> <span>product id: </span>{{selectedProduct.id}} </div>

                <div class="form-group row">
                  <label for="firstname" class="col-sm-3 col-form-label">First Name</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control mx-sm-3" id="firstname" (keyup)="updateSuccessFlag()" placeholder="first name" name="firstName" required>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="lastName" class="col-sm-3 col-form-label">Last Name</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="lastName" (keyup)="updateSuccessFlag()" placeholder="last name" name="lastName" required>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="address" class="col-sm-3 col-form-label">Address</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="address" (keyup)="updateSuccessFlag()" placeholder="address" name="address" required>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="cardNumber" class="col-sm-3 col-form-label">Credit Card Number</label>
                  <div class="col-sm-9">
                    <input type="number" class="form-control" id="cardNumber" (keyup)="updateSuccessFlag()" placeholder="card number" name="cardNum" required>
                  </div>
                </div>

                <div style="display: flex; flex-direction: row">
                  <button type="submit" class="btn btn-primary" >Pay Now</button>

                  <div id=hideMe *ngIf="successAlertFlag == 'success'" class="alert alert-success" style="margin-left: 2em">
                      <strong>Success!</strong> thank you.</div>

                  <div *ngIf="successAlertFlag == 'failed'" class="alert alert-warning" style="margin-left: 2em">
                      <strong>Warning!</strong> Please fill all the details.</div>
                </div>
              </form>
            </div>
         </div>

        <div class="displayButton">
          <button style="flex-basis: 25%; " class="btn btn-default btn-sm btn-block" (click)= "showOrders();">Show orders in console</button>
        </div>
</div>

