.pageContainer{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}


.head{ flex: 100%;}
.searchbar{ flex: 100%; display: flex; justify-content: center; }
.displayButton{flex: 100%; display: flex; justify-content: center}


#title{
  margin: 1em 0 0.5em 0;
	color: #343434;
	font-weight: normal;
	font-family: 'Ultra', sans-serif;
	font-size: 34px;
	line-height: 30px;
	text-transform: uppercase;
  text-shadow: 0 2px white, 0 3px #777;
  display: flex;
  justify-content: center;
}

#searchInput {
  background-image: url('https://www.w3schools.com/css/searchicon.png');
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 80%;
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

.selected {
  background-color: #CFD8DC !important;
  color: white;
}
#products {
  margin: 20px;
  list-style-type: none;
  padding: 0;
  width: 30em;
}
#products li {
  cursor: pointer;
  position: relative;
  left: -3px;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
#products li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
#products li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
#products .text {
  position: relative;
  top: -3px;
}
#products .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

.formDetails{
  margin: 20px;
  border: 1.5px solid #607D8B;
  border-radius: 4%;
  padding: 10px;
  width: 30em;
}

.btn-block {
  margin-bottom: 10px;
  margin-top: 10px;
}




#hideMe {
    -webkit-animation: seconds 1.0s forwards;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-delay: 5s;
    animation: seconds 1.0s forwards;
    animation-iteration-count: 1;
    animation-delay: 5s;
    position: relative;

  }
  @-webkit-keyframes seconds {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      left: -9999px;
      position: absolute;
    }
  }
  @keyframes seconds {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      left: -9999px;
      position: absolute;
    }
  }
